{% extends 'base/base.html' %}

{% block title %}
    Reset password
{% endblock %}

{% block heading_title %}
    Reset password
{% endblock %}

{% block heading_text %}
    Reset Account password.
{% endblock %}

{% block content %}
    <!-- Form -->
    <form class="mb-4" id="reset_form" method="post" action="{% url 'reset_password' code %}">
        {% csrf_token %}
        {% include 'base/messages.html' %}

        <!-- New Password -->
        <div class="mb-4">
            <label for="password" class="mb-2">Password</label>
            <input type="password" name="password" id="password" class="form-control form-control-solid form-control-lg" placeholder="Enter your password">
            <div id="password1_validation" style="transition: .3s;" class="text-danger"></div>
        </div>
        <!-- New Password -->

        <!-- Confirm Password -->
        <div class="mb-4">
            <label for="confirm_password" class="mb-2">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" class="form-control form-control-solid form-control-lg" placeholder="Confirm password">
            <div id="password2_validation" style="transition: .3s;" class="text-danger"></div>
        </div>
        <!-- Confirm Password -->

        <!-- Button -->
        <div class="d-grid">
            <button class="btn btn-lg btn-primary" type="submit">Reset</button>
        </div>
        <!-- Button -->
    </form>
    <!-- Form -->

    <!-- Text -->
    <p class="text-center mb-0">
        Already have an account?
        <a href="{% url 'login' %}">Sign in.</a>
    </p>
    <!-- Text -->

    <script>
        document.getElementById('reset_form').addEventListener('submit', function(event) {
            // Clear previous error messages
            document.getElementById('password1_validation').innerHTML = '';
            document.getElementById('password2_validation').innerHTML = '';
            document.getElementById('password').classList.remove('border-danger');
            document.getElementById('confirm_password').classList.remove('border-danger');

            // Get form values
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm_password').value;

            // Validate password
            if (password.trim() === '' || confirmPassword.trim() === ''){
                document.getElementById('password1_validation').innerHTML = 'password is required !';
                document.getElementById('password2_validation').innerHTML = 'password is required !';
                document.getElementById('password').classList.add('border-danger')
                document.getElementById('confirm_password').classList.add('border-danger')
                event.preventDefault() // Prevent form submission
            }

            if (password.trim() != confirmPassword.trim()){
                document.getElementById('password1_validation').innerHTML = 'passwords not matches !';
                document.getElementById('password').classList.add('border-danger')
                document.getElementById('confirm_password').classList.add('border-danger')
                event.preventDefault() // Prevent form submission
            }
        });
    </script>
{% endblock %}